<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="sidenav">
    <app-pokemon-list></app-pokemon-list>
  </mat-sidenav>
  <section>
    <app-pokemon-detail></app-pokemon-detail>
  </section>
</mat-sidenav-container>
