<p class="navbar">
  <mat-toolbar>
    <a [routerLink]="['/pokemons']" class="nav-link">Pokédex</a>
    <span class="spacer"></span>
    <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</a>
    <a [routerLink]="['/logout']" class="nav-link" *ngIf="isLoggedIn">Logout</a>
    <a class="nav-link" [routerLink]="['/team']" *ngIf="isLoggedIn">Mon équipe</a>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
