/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-inner-container {
  overflow: hidden !important;
}

.navbar {
  margin: 0 !important;
}

.nav-link {
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 10px;
}

.spacer {
  flex: 1 1 auto;
}
