mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.sidenav {
  width: 230px;
}
