<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="sidenav">
    <app-pokemon-list></app-pokemon-list>
  </mat-sidenav>
  <section>
    <mat-card>
      <mat-card-title>
        <h1>Mon équipe</h1>
      </mat-card-title>
      <mat-card-content>
        <!-- list team -->
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let pokemon of team">
            <img mat-card-md-image src="assets/img/official-artwork/{{ pokemon.id }}.png" alt="{{ pokemon.name }}">
            <p>{{ pokemon.name }}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </section>
</mat-sidenav-container>
