<mat-form-field class="centered">
  <input type="text" matInput placeholder="Search" [(ngModel)]="searching" (input)="onSearch()">
</mat-form-field>

<mat-nav-list id="navigation-list" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="10"
              (scrolled)="onScroll()" [scrollWindow]="false">
  <mat-list-item *ngFor="let pokemon of pokemons">
    <div>
      <a class="list-link" [routerLink]="['/pokemons', pokemon.id]">
        <img class="list-img" matListAvatar src="assets/img/sprites/{{ pokemon.id }}.png" alt="...">
        <span class="list-detail">{{ pokemon.id }}. {{ pokemon.name }}</span>
      </a>
    </div>
    <button *ngIf="isLoggedIn && !inTeam(pokemon.id)" mat-icon-button color="basic" class="list-action" (click)="addToTeam(pokemon.id)"><mat-icon>add</mat-icon></button>
    <button *ngIf="isLoggedIn && inTeam(pokemon.id)" mat-icon-button color="basic" class="list-action" (click)="removeFromTeam(pokemon.id)"><mat-icon>remove</mat-icon></button>
  </mat-list-item>
</mat-nav-list>
