.pokemon-list {
  float: left;
  display: inline;
}

.list-link {
  width: 100%;
}

.list-detail {
  position: absolute;
  height: 50%;
  transform: translateY(50%);
}

#navigation-list {
  overflow-y: auto;
  height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-action {
  // put at the right of text
  position: absolute;
  right: 0;
}
