<div *ngIf="pokemon">
  <mat-card class="custom-card">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div>
          <img [ngClass]="shakeClass" mat-card-md-image src="assets/img/official-artwork/{{ pokemon.id }}.png" alt="{{ pokemon.name }}">
          <p class="center">No. {{ pokemon.id | number : '3.0-0' }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <mat-list-item>
            {{ pokemon.name }}
            <button mat-icon-button color="basic" (click)="onAudioClick()"><mat-icon>play_circle_outline</mat-icon></button>
          </mat-list-item>
          <mat-list-item>
            <mat-chip-list>
              <mat-chip *ngFor="let type of pokemon.types">{{ type }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <p>Taille: {{ pokemon.height | number : '1.1-1' }} m</p>
          </mat-list-item>
          <mat-list-item>
            <p>Poids: {{ pokemon.weight | number : '1.1-1' }} kg</p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card-footer>
      <p class="pokemon-description">{{ pokemon.description }}</p>
    </mat-card-footer>
  </mat-card>
</div>
